<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Creative Project</title>
    <!-- Reference AngularJS and D3.js -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/d3/d3.min.js"></script>
    <!-- Reference n3-line-chart -->
    <script src="node_modules/n3-charts/build/LineChart.js"></script>
    <link rel="stylesheet" href="node_modules/n3-charts/build/LineChart.css">
    <!-- Reference jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- Reference custom scripts -->
    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div ng-app="app" ng-controller="mainCtrl">
        <h1>Stock Tracker</h1>
        <form name="stockForm" ng-submit="addNew(stockForm)">
            Enter Stock Ticker to Track:
            <input placeholder="Stock Ticker" ng-model="stockForm.ticker">
            <button type="submit">Add</button>
        </form>
        <div id="currentlyTracking">
            <h2>You are currently tracking: <button ng-click="clear()">Clear</button></h2>
            <ul>
                <li ng-repeat="ticker in toTrack">{{ticker}}</li>
            </ul>
        </div>
        <div>
            <linechart data="data" options="options"></linechart>
        </div>
    </div>
</body>
</html>